#decks-wrapper{
    width: 50%;
    height: 100%;
    min-width: 400px;
    min-height: 600px;
    background-color: rgba(100, 100, 100, 0.8);
    border-radius: 5px;
    margin: auto;
    font-family: Arial, Helvetica, sans-serif;
}

#deck-select{
    width: 100%;
    overflow-y: hidden;
    overflow-x: scroll;
    border-bottom: black 7px;
}

#deck-select ul{
    list-style: none;
    display: flex;
}

#deck-select ul li{
    margin-right: 2em;
    white-space: nowrap;
    padding: 1em;
    border-radius: 10px;
}


.Red{
    background-color: darkred;
    color: whitesmoke;
}
.Green{
    background-color: darkgreen;
    color: whitesmoke;
}
.White{
    background-color: whitesmoke;
    color: black;
}
.Blue{
    background-color: darkblue;
    color: whitesmoke;
}
.Black{
    background-color: black;
    color: whitesmoke;
}

#new-deck{
    background-color: white;
    color: black;
}


/* Scroll bar styles  */

/* width */
#deck-select::-webkit-scrollbar {
    width: 10px;
  }

/* Track */
#deck-select::-webkit-scrollbar-track {
    background: rgba(49, 48, 48, 0.5);
  }

/* Handle */
#deck-select::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

/* Handle on hover */
#deck-select::-webkit-scrollbar-thumb:hover {
    background: rgb(201, 199, 199);
  }
#deck-select::-webkit-scrollbar-corner{
    background: rgba(0, 0, 0, 0);
  }


/* width */
#deck-detail-form textarea::-webkit-scrollbar {
    width: 10px;
  }

  /* Track */
#deck-detail-form textarea::-webkit-scrollbar-track {
    background: rgba(49, 48, 48, 0.5);
  }

  /* Handle */
#deck-detail-form textarea::-webkit-scrollbar-thumb {
    background: #888;
    border-radius: 5px;
  }

  /* Handle on hover */
#deck-detail-form textarea::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
#deck-detail-form textarea::-webkit-scrollbar-corner{
    background: rgba(0, 0, 0, 0);
  }


  /* Deck info  */

  .deck-form-container{
      width: 100%;
      margin: 0 auto;
  }

  #deck-detail-form textarea{
    width: 98%;
    height: 100%;
    min-height: 22em;
    margin-top: 5em;
}
