/* TODO Add site wide styles */
body{
    background-image: url(./islandArt4k.png);
    background-repeat: no-repeat;
    margin: 0;
    height: 100%;
    width: 100%;
    background-color: #7C838D;
    background-size: 100%;
}
/* Nav bar styles */
#root{
    margin-top: 0;
    padding-top: 0;
}
nav{
    background-image: linear-gradient(
        rgb(163, 185, 219) 0%,
        /* rgba(200,200,200,1.0) 35%, */
        rgba(163, 185, 219, 0.5) 100%
    );
    backdrop-filter: blur(4px);
    height: 3em;
    margin-bottom: 1em;
}
nav ul{
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-top: 0;
}
nav ul li{
    margin-top: 0.7em;
}


/* Responsive nav drawer */
/* .backdrop-container{
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    -webkit-animation: fadeIn 1.2s ease-in-out;
    animation: fadeIn 1.2s ease-in-out;
}

#span-nav{
    width: 100%;
    height: 10vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    background-color: white;
    z-index: 1;
}

.mobile-nav-open-icon{
    font-size: 2rem;
    cursor: pointer;
    margin-right: 2rem;
    color: black;
    margin-left:3rem;
}

.sidenav-container {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 3;
    top: 0;
    left: 0;
    background-color: #111;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sidenav-container a {
    text-decoration: none;
    font-size: 1rem;
    color: #818181;
    display: block;
    transition: 0.3s;
    margin: 10px 0;
}

.sidenav-container a:hover {
    color: #f1f1f1;
}

.sidenav-container .closebtn {
    font-size: 3rem;
    font-weight: 700;
    color:#C9002B ;
    padding-right: 1rem;
}

.sidenav-container .drawer-close-button{
    height: 3rem;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-bottom: 3rem;
} */
