input[type=checkbox]{
    display: none;
}
input[type=checkbox] + label{
    padding-left: 1em;
}
input[type=checkbox] + label img:hover{
    box-shadow: 2 2 10px 5px rgb(34, 35, 36);
    border: 2px solid black;
}
/* Adds an outer glow effect to any checked mana symbol */
input[type=checkbox] + label img{
    border-radius: 50%;
}
#white-selector:checked + label img{
    box-shadow: 0 0 28px 18px rgb(221, 215, 179);
}
#blue-selector:checked + label img{
    box-shadow: 0 0 28px 18px rgb(0, 140, 255);
}
#black-selector:checked + label img{
    box-shadow: 0 0 28px 18px rgb(34, 35, 36);
}
#red-selector:checked + label img{
    box-shadow: 0 0 28px 18px rgb(250, 64, 64);
}
#green-selector:checked + label img{
    box-shadow: 0 0 28px 18px rgb(11, 155, 78);
}

/* positioning  */
#generator-wrapper{
    display: flex;
    width: 100%;
    justify-content: center;
}

#g-form{
    margin-top: 2em;
    background-color: rgba(100, 100, 100, 0.5);
    padding: 4em;
    border-radius: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}

#color-devotion input{
    width: 45px;
    /* margin-left: 5.55%; */
}

#color-devotion{
    display: flex;
    justify-content: space-between;
    padding-left: 2em;
    padding-right: 2em;
    width: 90%;
}
#color-checkboxes{
    display: flex;
    justify-content: space-between;
}

#num-lands-container, #format-container{
    display: flex;
    justify-content: space-between;
    padding-top: 2em;
}
#form-bottom-generator > button{
    float: right;
    margin-top: 1em;
    width: 98px;
    border: none;
    background-color: rgb(63, 60, 60);
    color: whitesmoke;
    padding: 0.5em;
}
#num-lands-container > input{
    width: 98px;
}
